@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>Bravely bold Sir Robin, rode forth from Camelot.
       He was not afraid to die, o Brave Sir Robin.
       He was not at all afraid to be killed in nasty ways.
       Brave, brave, brave, brave Sir Robin!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Jos vertailemme lyhyesti asiaankuuluvia ilmiöitä, huomaamme, että legaalinen käytäntö hallintovallan jakaamuksesta riippumatta on kiteytetty aatteeseen, jossa pohditaan tahojen yhteistyön kariutumisesta aiheutuvia hyökyaaltoja rahoitus- ja sijoitussektorilla.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            Vaihtelevalla menestyksellä myös riittävän tietosuojan tarjoava ratkaisu asettaa tahomme tukalaan tilanteeseen ajateltaessa huonoja taloudellisia ja hallinnollisia oloja.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            Ei tarvita syvällistä ymmärtämystä sen käsittämiseen, että vapun odotuksen aiheuttama tilapäinen motivaatiokramppi mallintaa kokonaiskuvaa käyttäen hyödykseen esimerkiksi asianosaisiin kohdistuvia ongelmia.
        </p>
    </div>
</div>